[Unit]
Description=Persistent node settings
After=mnt-instanceStorage.mount
Requires=mnt-instanceStorage.mount

[Mount]
What=/mnt/instanceStorage/node
Where=/etc/rancher/node
Type=none
Options=bind
